#sketchpad {
	display: grid;
	width: 500px;
	height: 500px;
	/*justify-items: stretch;*/
	border: 1px solid black;
	margin: 25px auto; /* set all 4 margins to 25px and use auto to center it horizontally */
}

#reset {
	display: block;
	margin: 0 auto;
	width: 250px;
	height: 60px;
}

h2 {
	padding-top: 10px;
	text-align: center;
}
